#um{
    position: relative;
    width: 64px;
    height: 64px;
    background: none;
    border: none;
    outline: none;
}

#outro{
    position: relative;
    height: 64px;
    background: none;
    border: none;
    outline: none;
}

.contento {
    display: flex;
    width: 500px;
    margin: auto;
    align-items: center;
}

.contt{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    height: 220px;
    width: 906px;

}

.pictr{
    margin-right: 10px;
    margin-top: 25px;
    width: 220px;
    height: 220px;
}

.sli{
    margin-top: 30px;
    max-width: 560px;
    overflow: hidden;
    display: flex;
}

.cont2 {
    display: flex;
    width: 681px;
    align-items: center;
}

.sli .prod{
    position: static;
    width: 180px;
    height: 180px;
    margin-right: 5px;
}

.imgprod{
    width: 180px;
    height: 180px;
}
